<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  
  <form class="form" (ngSubmit)="tryLogin(value)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="value.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="value.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    
    <ion-button color="tertiary" class="submit-btn" expand="block" type="submit" >Log In</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  
  <p>¿Aún no tienes cuenta? <a (click)="goRegisterPage()">Crea tu cuenta aqui.</a></p>

</ion-content>

<ion-footer>
  <ion-toolbar align="center">
    <ion-button slot="start" color="tertiary" (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="llamar()"><ion-icon name="call"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="volver()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button slot="end" color="tertiary" (click)="perfil()"><ion-icon name="contact"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>