<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf = "isLogged">
  <ion-item>
    <ion-label><b>Nombre: </b></ion-label>
    <ion-input [(ngModel)]="document.data.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Descripción: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.descripcion"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label><b>Saga: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.saga"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label><b>Primera aparición: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.aparicion"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="id!='nuevo'">
    <ion-button class="botones" id="botonImagen" (click)="uploadImagePicker()" size="xl"><ion-icon name="image"></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="id=='nuevo'">
    <ion-button class="botones" id="botonImagen" (click)="uploadImagePicker()">Añadir imagen</ion-button>
  </ion-item>
  <ion-item *ngIf="id!='nuevo'">
    <ion-img [src]="document.data.imagen"></ion-img>
  </ion-item>
  <ion-item *ngIf="id!='nuevo'">
    <ion-button color="tertiary" (click)="regularShare()" size="xl"><ion-icon name="share"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="whatsappShare()" size="xl"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="twitterShare()" size="xl"><ion-icon name="logo-twitter"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="facebookShare()" size="xl"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="id!='nuevo'">
    <ion-button class="botones" id="botonModificar" (click)="clicBotonModificar()" size="xl"><ion-icon name="done-all"></ion-icon></ion-button>
    <ion-button class="botones" id="botonBorrar" (click)="presentAlertConfirm()" size="xl"><ion-icon name="close"></ion-icon></ion-button>
  </ion-item>
  <ion-item *ngIf="id=='nuevo'">
    <ion-button class="botones" id="botonModificar" (click)="clicBotonModificar()" size="xl"><ion-icon name="done-all"></ion-icon></ion-button>
  </ion-item>
</ion-content>
<ion-content *ngIf = "!isLogged">
  <ion-item>
    <ion-label><b>Nombre: </b></ion-label>
    <ion-input [(ngModel)]="document.data.nombre" disabled></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><b>Descripción: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.descripcion" disabled></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label><b>Saga: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.saga" disabled></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label><b>Primera aparición: </b></ion-label>
    <ion-textarea [(ngModel)]="document.data.aparicion" disabled></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-img [src]="document.data.imagen"></ion-img>
  </ion-item>
  <ion-item>
    <ion-button color="tertiary" (click)="regularShare()" size="xl"><ion-icon name="share"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="whatsappShare()" size="xl"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="twitterShare()" size="xl"><ion-icon name="logo-twitter"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="facebookShare()" size="xl"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button slot="start" color="tertiary" (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="llamar()"><ion-icon name="call"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="volver()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button slot="end" color="tertiary" (click)="perfil()"><ion-icon name="contact"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>