<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  
  <form class="form" (ngSubmit)="tryRegister(value)">
    <ion-item>
      <ion-label position="floating" color="tertiary">Email</ion-label>
      <ion-input type="text" [(ngModel)]="value.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating" color="tertiary">Password</ion-label>
      <ion-input type="password" [(ngModel)]="value.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    
    <ion-button class="submit-btn" expand="block" type="submit" color="tertiary">Log In</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
  
  <p *ngIf = "isCreated"><b>Usuario creado correctamente</b></p>
  <p class="go-to-login">¿Ya tienes cuenta? <a (click)="goLoginPage()">Inicia sesión.</a></p>

</ion-content>
<ion-footer>
  <ion-toolbar align="center">
    <ion-button slot="start" color="tertiary" (click)="mapa()"><ion-icon name="map"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="llamar()"><ion-icon name="call"></ion-icon></ion-button>
    <ion-button color="tertiary" (click)="volver()"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button slot="end" color="tertiary" (click)="perfil()"><ion-icon name="contact"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>